*{
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
body{
}
.slide{display: none}
body{
    background-color: beige;
}
.slide img{
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
.nav-content{
    display: flex;
    justify-content: center;
    padding: 0;
}
.nav-content span{
    margin: 50px;
    color: white;
    font-size: large;
}
header{
    background-image: url("IMAGES/download.jpg");
    background-color: grey;
    background-blend-mode: multiply;
    position:sticky;
    top: 0;
   
}
header h1{
border-top: 5px solid beige;
    text-align: center;
    color: white;
    font-weight: bolder;
}
.slideshow-container{
    width: 400px;
    /* margin: auto; */
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.slideshow-container img{
    vertical-align: middle;
}
.index{
    top: 50px;
    position: absolute;
    color: aliceblue;
}
.dot-container{
    text-align: center;
}
.next,.prev{
    position: absolute;
    top: 50%;
    background-color: grey;
    cursor: pointer;
    user-select: none;
}
.next:hover,.prev:hover{
    background-color: rgb(213, 205, 205);
}
.next{
    right: 0;
}
.prev{
    left: 0;
}
.dots{
    width: 15px;
    height: 15px;
    background-color: rgb(214, 206, 206);
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}
.dots:hover,.active {
    background-color: #504e4e;
}
.caption{
    text-align: center;
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}
@keyframes fade {
    from {opacity: .4} 
    to {opacity: 1}
}
.contents{
    text-align: center;
    padding: 10px;
}
#restaurantpic{
    width: 100%;
    margin-top: 0;
}
.sub-1{
    text-align: center;
}
#res-name{
    text-align: center;
    text-decoration:underline;
}
#suffix{
    text-align: center;
    margin-bottom: 20px;
}
.story{
    padding: 10px;
    width: 100%;
    margin-right: 20%;
    background-color: rgb(226, 91, 37);
    border-radius: 20px;
    margin-top: 10px;
}
.story h2{
    padding-top: 0;
    margin-left: 5px;
    margin-top: 5px;
    color: rgb(2, 2, 0);
    text-decoration:underline;
}
.story-main{
    margin-top: 20px;
    margin-left: 5px;
}
.nav-buttons{
 border-radius: 2px;   
 color: yellow;
 background-color: black;
}
.nav-buttons:hover{
    background-color: green;
}
.first-content{
    display: inline;
    margin-top: 0;
}
.container-main{
    display: flex;
}
.grid-items{
    border: #504e4e;
    padding: 20px; 
    width: 100%;
}
footer{
    background-color: orange;
    height: 50%;
    display: flex;
}
.footer-element{
    margin-left: auto;
    margin-right: auto;
}
.story-title{
    text-align: center;
    padding: 0;
    margin-bottom: 0px;
}
/*animations*/
header{
    animation: header-in 1000ms ease-out; 
}
@keyframes header-in {
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0%);
    }
    
}
.container-main,footer,.titles{
    animation: main-in 1000ms ease-out; 
}
@keyframes main-in {
    0%{
        transform: translateY(+100%);
        opacity: -5;
    }
    100%{
        transform: translateY(0%);
        opacity: 1;
    }
    
}
img{
    border-radius: 10px;
}
img:hover{
    transform: scale(1.1);
}